html, body, .root {
  height: 100%;
}
body {
  background: white;
}

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.map {
    top: 0;
    width: 100%;
    height: 50%;
}

.marker {
  background-image: url('./icons/marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-selected {
  background-image: url('./icons/marker-selected.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.list-title {
  padding: 10px;
  background: #209aa4;
  text-align: center;
}
.list-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-content {
  padding: 0 0 8px;
  flex: 1;
}

.container {
    padding: 10px;
}

.popup {
    position: absolute;
    width: 100%;
    z-index: 99;
    background: white;
}
@media (min-width: 600px) {
    .popup {
        position: absolute;
        width: 50%;
        z-index: 99;
        background: white;
    }

    .map {
        float: left;
        width: 50%;
        height: 100%;
    }

    .list {
        float: right;
        width: 50%;
        height: 100%;
    }

}

.popup .close {
    float: right;
    width: 24px;
    height: 24px;
    background: white;
    background-image: url('./icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 0;
}

/* Ripple effect CSS from https://codepen.io/finnhvman/pen/jLXKJw */

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.ripple:active {
  background-color: #aaa;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.material-button {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 4px #999;
}

/* search */

.search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}
.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}
